<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OurFirstWebProject</display-name>
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 
  <servlet>
    <description></description>
    <display-name>agree</display-name>
    <servlet-name>agree</servlet-name>
    <servlet-class>com.agree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>agree</servlet-name>
    <url-pattern>/agree</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>welcome1</display-name>
    <servlet-name>welcome1</servlet-name>
    <servlet-class>com.welcome1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcome1</servlet-name>
    <url-pattern>/welcome1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>SearchProduct</display-name>
    <servlet-name>SearchProduct</servlet-name>
    <servlet-class>com.SearchProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProduct</servlet-name>
    <url-pattern>/SearchProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getProductbyId</display-name>
    <servlet-name>getProductbyId</servlet-name>
    <servlet-class>com.getProductbyId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getProductbyId</servlet-name>
    <url-pattern>/getProductbyId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getProductById</display-name>
    <servlet-name>getProductById</servlet-name>
    <servlet-class>com.getProductById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getProductById</servlet-name>
    <url-pattern>/getProductById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>success</display-name>
    <servlet-name>success</servlet-name>
    <servlet-class>com.success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>success</servlet-name>
    <url-pattern>/success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAllProduct</display-name>
    <servlet-name>getAllProduct</servlet-name>
    <servlet-class>com.getAllProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllProduct</servlet-name>
    <url-pattern>/getAllProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UPDATE</display-name>
    <servlet-name>UPDATE</servlet-name>
    <servlet-class>com.UPDATE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UPDATE</servlet-name>
    <url-pattern>/UPDATE</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UpdateProcess</display-name>
    <servlet-name>UpdateProcess</servlet-name>
    <servlet-class>com.UpdateProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProcess</servlet-name>
    <url-pattern>/UpdateProcess</url-pattern>
  </servlet-mapping>
</web-app>